* {
    /* nedan gäller för alla element som jag redigerar på hela sidan om inget annat anges*/
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


/*--------------------------------------------------------------------*/
/*--<Mobile first>----------------------------------------------------*/


html, body {
    width: 100%; /* Tar upp 100% av bildbredden */
    font-family: "Odibee Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
    letter-spacing: 1px;
    scroll-behavior: smooth;
}


img {
    max-width: 100%;
    height: auto;
    display: block;
}


#mainIndex{
    width: 100%; /* Tar upp 100% av bildbredden*/
    display: grid; /* Grid-layout */
    grid-template-areas: /* Talar om vilken ordning jag vill att mina grids ska komma i */
        "header"
        "aboutartist" 
        "firstpagepictures"
        "link2gallery";
    gap: 1rem; /* Avstånd mellan de olika sektionerna */
}


header {
    width: 100%;
    background-color: #6A8E70;
    position: relative;
    grid-area: header; /* Får namnet "header" i grid-layouten */
    display: grid; /* Innehållet i headern har grid-layout */
    grid-template-areas: /* Talar om vilken ordning jag vill att mina grids ska komma i */
        "headerimage" 
        "headertext"
        "mainmenu"
        "linktogallery";
}


#headerImage{
    grid-area: headerimage;
    padding: 2em 1em 0 1em;
}


#headerText{
    grid-area: headertext;
    color: white;
    display: flex; /* Gör containern till en flex-behållare */
    flex-direction: column; /* Lägg h1 och h2 ovanpå varandra */
    justify-content: center; /* Centrera vertikalt */
    align-items: center; /* Centrera horisontellt */
    text-align: center; /* Gör att texten inuti också centreras */
    padding: 1rem;    
    text-shadow: 0 2px 5px rgba(0,0,0,0.5);
}


#headerText h1{
    padding: 0.5em;
}


.linkToGallery{
    grid-area: linktogallery;
    display: inline-block;
    justify-content: center;
    background-color: white;
    border-radius: 5px;
    padding: 0.2em 1em;
    margin: 0.5em auto; 
    color: black; 
    font-size: x-large; 
}

a:hover { 
    color: gray; /* Texten blir grå när jag hovrar*/
}

a:active { /* När jag klickar på länken bli bakgrunden ljugrön vid själva klicket*/
    background-color: #A5BCA8;
}


.mainMenu{
    grid-area: mainmenu;
    list-style: none;
    display: flex;
    justify-content: center;
}


.mainMenu li{
    background-color: white;
    padding: 0.2em 1em;
    margin: 0 0.5em 1em 0.5em; 
    border-radius: 5px;
}


.mainMenu li a{
    font-size: large;
    color: black;
}

.mainMenu a:hover { /* hover = drar med muspekaren över - i detta fall - en länk*/
    color: gray; /* bakgrunden blir grå när jag hovrar*/
}

.mainMenu a:active { /* när jag klickar på länken bli bakgrunden oreange vid själva klicket*/
    background-color: #A5BCA8;
}

#mainMenuGallery,
#mainMenuAbout,
#mainMenuContact,
#mainMenuHome{
    display: none;
}


#logo{
    position:absolute;
    float: left;
    z-index: 10;
    top: 2%;
    left: 2%;
}


#firstPagePictures{
    grid-area: firstpagepictures;
    display: grid;/* Grid-layout på innehållet */
    grid-template-columns: repeat(1, 1fr);/* 1 bild per rad */
    gap: 1rem; /* Mellanrum mellan bilderna */
    margin: 0; /* Lika mycket luft till vänster och höger */
}   


.picsMainContent {
    display: block;
    width: 100%;
    height: 275px;       /* samma höjd för alla bilder */
    object-fit: cover;   /* beskär bilden lite så den fyller hela ytan */
    box-shadow: 0 4px 10px rgba(0,0,0,0.4);
}


#aboutArtist{
    grid-area: aboutartist;
    display: grid; /* Grid-layout */
    grid-template-columns: 1fr 2fr; /* Två kolumner, den ena bredare än den andra */
    gap: 1rem; /* Avstånd mellan kolumnerna */
    align-items: center;
    background-color: #A5BCA8;
    padding: 1rem;
}


.artistImage{
    width: 100%;
    height: auto;
    object-fit: cover; /* Bilden fyller sin kolumn utan att förvrängas */
    border-radius: 5px; /* Lite rundade hörn */
}


.artistContent h2{
    margin-bottom: 0.5rem;
}

.artistContent p{
    margin-bottom: 1rem;
    font-family: "Open Sans", sans-serif;
}


.artistLinks{
    display: flex; /* länkarna bredvid varandra */
    gap: 1rem; /* avstånd mellan länkarna */
    font-size:large;
}


.artistLinks a{
    background-color: white;
    padding: 0.4em 0.8em;
    color: black;
    border-radius: 5px;
}


.link2Gallery{
    grid-area: link2gallery;
    background-color: #A5BCA8;
    padding: 0.2em 1em;
    text-align: center;
    margin-bottom: 1rem;
    font-size: x-large;
}


#theGallery {
    display: grid;
    justify-items: center; /* centrerar rubriken horisontellt */
    gap: 2rem;
    padding: 2rem;
}


#theGalleryArticlesWrapper {
    display: grid;
    width: 100%;
    justify-items: center; /* centrerar innehåll i varje kolumn */
    gap: 2rem;
}


#theGalleryArticlesWrapper article {
    text-align: center;
    width: 100%;
    max-width: 300px;
}


#theGalleryArticlesWrapper article h3 {
    margin-bottom: 1rem;
}


.galleryLinkImg {
    display: block;
    width: 100%;
    height: 400px; /* Samma höjd för alla bilder */
    object-fit: cover; /* Beskär bilden lite så den fyller hela ytan */
    border: solid black 5px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.4);
}


.galleryContent{
    display: grid;
    justify-items: center; /* Centrerar rubriken horisontellt */
    gap: 2rem; /* Mellanrum mellan grids*/
    padding: 2rem;
}


.galleryWrapper{
    display: grid;
    grid-template-columns: repeat(1, 1fr);/* 1 bild per rad i mobilläge*/
    gap: 3rem;
}


.galleryWrapper img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.4); /* En lätt skugga bakom bilderna*/
}


#toTop{
    margin: 2rem auto;
    display: block; 
    width: fit-content; 
    background-color: white;
    padding: 0.2em 1em;
    color: black;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.4);
    border-radius: 5px;
    font-size: large;
}


.contact-container {
    max-width: 800px; /* begränsar bredden på stora skärmar */
    margin: 1.5rem auto; /* centrera på sidan */
    padding: 1rem;
    display: flex;
    flex-direction: column; /* staplar elementen vertikalt */
    gap: 2rem;              /* mellanrum mellan boxarna */
}


.contact {
    text-align: center;
    background-color: #A5BCA8;
    padding: 2rem;
    border-radius: 60px 0 60px 0;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}


.contact h2{
    padding: 0.5rem;
}


.contact h3{
    padding: 0.5rem;
}


.contact p{
    font-family: "Open Sans", sans-serif;
    padding: 0.5rem;
}


form{
    background-color: #f8f8f8;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.4);

}


form fieldset{
   padding: 1rem;
   font-size: large;
}

fieldset div{
    padding: 0.5rem;
}


.titleForm{
    font-family: "Open Sans", sans-serif;
}


button{
    margin: 0.5rem;
    padding: 0.5rem;
}


textarea{
    width: 100%;
}

#errorList li {
  color: red;
}

#messageSent li {
  color: green;
  list-style: none;
}


.aboutMe{
    max-width: 800px;
    margin: 1.5rem;
    text-align: center;
    padding: 3rem 1rem 3rem 1rem;
    display: flex;
    flex-direction: column;
    align-items: center; /* centrera alla barn horisontellt */
    gap: 2rem; /* mellanrum mellan boxarna */
    background-color: #A5BCA8;
    border-radius: 60px 0 60px 0;  
    box-shadow: 0 4px 10px rgba(0,0,0,0.4);
}


.aboutMe p{
    padding: 0.5rem;
    margin: 0.5rem;
    font-family: "Open Sans", sans-serif;
}


.aboutMe img{
    width: 50%;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.4);
}


footer{
    background-color: #6A8E70;
    height: 15%;
    padding: 1rem;
}


footer p{
    font-family: "Open Sans", sans-serif;
}


footer p a{
    color: white;
}


/*------------------------------------------------------------------*/
/*--<Surfplatta>----------------------------------------------------*/


@media (min-width: 601px) and (max-width: 1023px) { /* Media Queries för surfplatta */
    
    #mainIndex{
        width: 100%; /* Tar upp 100% av bildbredden*/
        display: grid; /* Grid-layout */
        grid-template-areas: /* Talar om vilken ordning jag vill att mina grids ska komma i */
            "header"
            "firstpagepictures"
            "aboutartist" 
            "link2gallery";
        gap: 1rem; /* Avstånd mellan de olika sektionerna */
    }

    header {
        position: relative;
        display: block; 
        height: 500px;
        overflow: hidden;
    }

    #mainMenuGallery,
    #mainMenuAbout,
    #mainMenuContact,
    #mainMenuHome{
        display: flex;
    }

    .mainMenu {
        position: relative;
        z-index: 10;
        background-color: #6A8E70;
    }

    .mainMenu li {
        margin: 0.5em 1em 0.5em 1em;
        border-radius: 3px;
    }

    #headerImage {
        position: absolute;
        padding: 0;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        z-index: 1;
    }

    #headerText {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: rgb(106, 142, 112, 0.7);
        border-radius: 40px 0 40px 0;
        text-align: center;
        color: white;
        z-index: 8;
        text-shadow: 0 2px 5px rgba(0,0,0,0.5);
    }

    #firstPagePictures{
        display: grid;/* Grid-layout på innehållet */
        grid-template-columns: repeat(2, 1fr);
        gap: 1rem; /* Mellanrum mellan bilderna */
        margin: 1rem; /* Lika mycket luft till vänster och höger */
        justify-items: center;
    }  

    .picsMainContent{
        border-radius: 30px;
    }

    #aboutArtist{
        border-radius: 60px 0 60px 0;
        box-shadow: 0 4px 10px rgba(0,0,0,0.4);
    }

    .artistImage{
        border-radius: 60px 0 60px 0;
        margin: 2em 0 2em 0;
    }

    .artistContent h2{
        margin: 0.5rem 2rem;
        font-size: 2em;
    }

    .artistContent p{
        margin: 1rem 2rem;
        font-size: larger;
    }

    .artistLinks{
        margin: 2rem 4rem;
        gap: 2rem; /* avstånd mellan länkarna */
        font-size: larger;
    }



    .link2Gallery{
        display: none;
    }

     #theGalleryArticlesWrapper {
        grid-template-columns: repeat(3, 1fr);
    }

    .galleryLinkImg{
        height: 300px;
    }

    .galleryWrapper{
        grid-template-columns: repeat(2, 1fr);
        
    }

}


/*------------------------------------------------------------------*/
/*--<Desktop>-------------------------------------------------------*/


@media (min-width: 1024px) {/* Media Queris för desktop */

    #mainIndex {
        width: 100%; /* Tar upp 100% av bildbredden*/
        display: grid; /* Grid-layout */
        grid-template-areas: /* Talar om vilken ordning jag vill att mina grids ska komma i */
            "header"
            "firstpagepictures"
            "aboutartist" 
            "link2gallery";
        gap: 1rem; /* Avstånd mellan de olika sektionerna */
    }

    header {
        position: relative;
        display: block; 
        height: 500px;
        overflow: hidden;
    }

    #mainMenuGallery,
    #mainMenuAbout,
    #mainMenuContact,
    #mainMenuHome{
        display: flex;
    }

    .mainMenu {
        position: relative;
        z-index: 10;
        background-color: #6A8E70;
    }

    .mainMenu li {
        margin: 0.5em 1.5em 0.5em 1.5em;
        border-radius: 3px;
    }

    #headerImage {
        position: absolute;
        padding: 0;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        z-index: 1;
    }

    #headerText {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: rgb(106, 142, 112, 0.7);
        border-radius: 40px 0 40px 0;
        text-align: center;
        color: white;
        z-index: 8;
        text-shadow: 0 2px 5px rgba(0,0,0,0.5);
    }

    #firstPagePictures{
        display: grid;/* Grid-layout på innehållet */
        grid-template-columns: repeat(4, 1fr); /* Delar upp bredden i fyra lika stor kolumner*/
        gap: 1rem; /* Skapar mellanrum mellan bilderna */
        margin: 1rem; /* Lika mycket luft till vänster och höger */
        justify-items: center;
    }  

    .picsMainContent{
        border-radius: 30px;
    }

    #aboutArtist{
        width: 75%;
        height: auto;
        border-radius: 60px 0 60px 0;
        box-shadow: 0 4px 10px rgba(0,0,0,0.4);
    }

    .artistImage{
        max-height: 450px;
        border-radius: 60px 0 60px 0;
        margin: 2em 0 2em 0;
    }

    .artistContent h2{
        margin: 0.5rem 2rem;
        font-size: 2em;
    }

    .artistContent p{
        margin: 1rem 2rem;
        font-size: larger;
    }

    .artistLinks{
        margin: 2rem 4rem;
        gap: 2rem; /* avstånd mellan länkarna */
        font-size: larger;
    }


    .link2Gallery{
        display: none;
    }

     #theGalleryArticlesWrapper {
        grid-template-columns: repeat(3, 1fr);
    }

    .galleryWrapper{
        grid-template-columns: repeat(4, 1fr);  
    }

    .aboutMe{
        margin: 1.5rem auto;
    }

    

}